body {
    font-family: 'Quicksand', sans-serif;
    background-color: #FCEADE;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 600px;
}

#header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-image {
    width: 175px;
    margin: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    border: 5px solid #FF8A5B;
    border-radius: 10px;
    margin: 5px;
    width: 300px;
    background-color: white;
    padding: 10px;
    text-align: center;
}

li:hover {
    border: 5px solid #EA526F;
}

img {
    width: 250px;
}