body {
    font-family: 'Quicksand', sans-serif;
    background-color: #FCEADE;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 600px;
}

#header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-image {
    width: 175px;
    margin: 5px;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}

li {
    border: 5px solid #FF8A5B;
    border-radius: 10px;
    margin: 5px;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    max-width: 900px;
    justify-content: space-between;
}

li:hover {
    border: 5px solid #EA526F;
}

#li-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    margin-right: 5px;
}

img {
    max-height: 350px;
    max-width: 250px;
    border-radius: 5px;
    margin-left: 5px;
}